# ===========================================================
# 文件说明: 编辑器配置文件
# 作者: 狂犬主子
# SPDX-License-Identifier: GPL-3.0-or-later
# 版权所有 (C) 潇然工作室
# 未经作者许可，不得删除或修改此文件中的版权和许可信息
# ===========================================================
# EditorConfig
# https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
# Windows-style newlines
end_of_line = crlf

[*.{cmd,bat,ps1,psm1,json,yml,yaml}]
indent_style = space
indent_size = 4

[*.{reg}]
charset = utf-16le

[*.{cmd,bat,ini}]
charset = gbk
