# ===========================================================
# 文件说明: Git 忽略规则
# 作者: 狂犬主子
# SPDX-License-Identifier: GPL-3.0-or-later
# 版权所有 (C) 潇然工作室
# 未经作者许可，不得删除或修改此文件中的版权和许可信息
# ===========================================================
desktop.ini
osc.exe
osc/apifiles/Version.txt
osc/xrsoft.exe
osc/xrkms/KMS_VL_ALL_AIO.cmd
osc/xrkms/HEU.exe
osc/xrkms/TSforge_Activation.cmd
