desktop.ini
osc.exe
osc/apifiles/Version.txt
osc/oscoffline.bat
osc/oscsoftof.txt
osc/xrsoft.exe
osc/runtime/DirectX_Redist_Repack_x86_x64_Final.exe
osc/runtime/flash.exe
osc/xrkms/KMS_VL_ALL_AIO.cmd
osc/xrkms/kms.exe
