.vscode
osc.exe
osc/aria2c.exe
osc/oscoffline.bat
osc/oscsoftof.txt
osc/xrsoft.exe
osc/apifiles/7z.dll
osc/apifiles/7z.exe
osc/apifiles/DMI.exe
osc/apifiles/DriveCleaner.exe
osc/apifiles/NetUser.exe
osc/apifiles/nircmd.exe
osc/apifiles/NSudoLC.exe
osc/apifiles/PECMD.exe
osc/apifiles/srtool.exe
osc/apifiles/Wbox.exe
osc/apifiles/winput.exe
osc/apifiles/WLAN.exe
osc/apifiles/Wub.exe
osc/Office/OSFMount.com
osc/Office/OSFMount.sys
osc/optimize/bookmarks.exe
osc/optimize/yrxitong/yr.exe
osc/runtime/DirectX_Redist_Repack_x86_x64_Final.exe
osc/runtime/flash.exe
osc/runtime/MSVBCRT.AIO.exe
osc/themerec/PinToTaskbar.exe
osc/themerec/PinToTaskbarHelper.dll
osc/xrkms/EnterpriseG.cab
osc/xrkms/KMS_VL_ALL_AIO.cmd
osc/xrkms/kms.exe
osc/xrkms/vlmcs.exe
osc/runtime/MSVCRedist.AIO.exe
desktop.ini
